<%= form_for @at_bat, url: game_at_bats_path do |form| %>
  <div>
	  <%= form.label :result %>
	  <%= form.text_field :result %>
  </div>
  <div>
	  <%= form.label :inning %>
	  <%= form.text_field :inning %>
  </div>
  <%= hidden_field_tag 'player_id', @at_bat.player_id %>
  <%= form.submit 'Save' %>
<% end %>
